
@font-face{
  font-family: "AvertaCY";
  src: url(../fonts/AvertaRegular.ttf)
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "AvertaCY";
  background: unset;
}
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --accent-color: #a262a8;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
a {
  width: fit-content;
  height: fit-content;
  letter-spacing: -0.05em;
  line-height: 100%;
}
p,
b,
a {
  letter-spacing: 0em;
}

body::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  height: 20%;
  width: 20%;
  filter: blur(800px);
  z-index: -1;
}
body::after{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: orange;
  height: 20%;
  width: 20%;
  filter: blur(800px);
  z-index: -1;
}
/* base */

.humberger::before,
.humberger::after {
  transition: 0.5s ease;
}
.humberger.active::before,
.humberger.active::after {
  margin: 0;
  position: absolute;
  rotate: 45deg;
  transition: 0.5s ease;
}
.humberger.active::after {
  rotate: -45deg;
}
.links {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.links.active {
  right: 0;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.bgeffect {
  pointer-events: none;
  background: #0000;
  transition: 1s right cubic-bezier(0.075, 0.82, 0.165, 1);
}
.bgeffect.active {
  pointer-events: unset;
  background: #00000041;
  transition: 1s right cubic-bezier(0.075, 0.82, 0.165, 1);
}

.section6 .content{
  position: relative;
}
.section6 .content::before{
  content: url("../images/before&after.svg");
  position: absolute;
  top: -100px;
  right: 50px;
  height: 100px;
  width: auto;
  opacity: 0.2;
}
.section6 .content::after{
  content: url("../images/before&after.svg");
  position: absolute;
  bottom: -100px;
  left: 50px;
  height: 100px;
  width: auto;
  transform: rotateZ(180deg);
  opacity: 0.2;
}

footer .content{
  margin: 0 auto;
}
footer .content ul{
  margin: 0 auto;
}

@media screen and (min-width: 532px) {
  footer .content{
    width: 700px;
  }
}
@media screen and (min-width: 768px) {
  .bgeffect.active {
    pointer-events: none;
    background: #0000;
    transition: 1s right cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}