@import url("https://db.onlinewebfonts.com/c/f036e81e6040acc6b43aabc036862d21?family=Averta");
/* @font-face {
  font-family: "Averta CY";
  src: url("../public/fonts/AvertaRegular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Averta CY";
}
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --accent-color: #a262a8;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
a {
  width: fit-content;
  height: fit-content;
  letter-spacing: -0.05em;
  line-height: 100%;
}
p,
b,
a {
  letter-spacing: 0em;
}
/* base */

.humberger::before,
.humberger::after {
  transition: 0.5s ease;
}
.humberger.active::before,
.humberger.active::after {
  margin: 0;
  position: absolute;
  rotate: 45deg;
  transition: 0.5s ease;
}
.humberger.active::after {
  rotate: -45deg;
}
.links {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.links.active {
  right: 0;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.bgeffect {
  pointer-events: none;
  background: #0000;
  transition: 1s right cubic-bezier(0.075, 0.82, 0.165, 1);
}
.bgeffect.active {
  pointer-events: unset;
  background: #00000041;
  transition: 1s right cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (min-width: 768px) {
  .bgeffect.active {
    pointer-events: none;
    background: #0000;
    transition: 1s right cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.section3 .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section3 .content .card {
  height: 245px;
  width: 215px;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
}
.section3 .content .card:nth-child(1) {
  border: 1px solid #a262a831;
}
.section3 .content .card .image {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section3 .content .card .image img {
  height: 100px;
  width: 100%;
}
.section3 .content .card .text {
  height: 105px;
  width: 100%;
  padding: 10px 0;
}
.section3 .content .card .text p {
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding-bottom: 5px;
}
.section3 .content .card .text p:nth-child(1) {
  font-weight: bolder;
  letter-spacing: -0.05em;
}
@media screen and (max-width: 532px) {
  .section3 .content {
    grid-template-columns: 1fr;
  }
  .section3 .content .card {
    margin: 10px auto;
  }
}
@media screen and (min-width: 532px) {
  .section3 .content {
    grid-template-columns: 1fr 1fr;
    width: 472px;
    margin: 0 auto;
  }
  .section3 .content .card {
    margin: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .section3 .content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 943px;
  }
}
@media screen and (min-width: 1564px) {
  .section3 .content {
    width: 1050px;
  }
  .section3 .content .card {
    height: 300px;
    width: unset;
  }
  .section3 .content .card .image {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section3 .content .card .image img {
    height: 110px;
  }
  .section3 .content .card .text {
    height: 130px;
  }
  .section3 .content .card .text p:nth-child(1) {
    font-size: 16px;
  }
}
